@charset "utf-8";
/* CSS Document */

@font-face{
	font-family: SI;
	src: url('font.ttf');
}	

body
{
	font-family:Arial, Helvetica, sans-serif;
	width:100%;
	height:100%;
	padding:0%;
	margin:0%;
	color:#000;
	position: relative;
	direction:ltr;
	overflow-y:scroll; 
	text-align:center;
	font-size:85%;
	background:url(../images/50612.jpg);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;	
/*
background: #1e5799;
background: -moz-linear-gradient(top, #1e5799 0%, #207cca 0%, #112b42 0%, #7db9e8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(0%,#207cca), color-stop(0%,#112b42), color-stop(100%,#7db9e8));
background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 0%,#112b42 0%,#7db9e8 100%);
background: -o-linear-gradient(top, #1e5799 0%,#207cca 0%,#112b42 0%,#7db9e8 100%);
background: -ms-linear-gradient(top, #1e5799 0%,#207cca 0%,#112b42 0%,#7db9e8 100%);
background: linear-gradient(to bottom, #1e5799 0%,#207cca 0%,#112b42 0%,#7db9e8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
*/
overflow-y:scroll;
}

iframe#facebook
{
	color:#FFF;
}

header
{
	padding:1% 0% 1% 0%;
	background-color:#a52a2a;
	text-shadow:#000000 5px;
	box-shadow:#111111 1px -1px 15px 8px;
}

.container
{
	margin: 0 auto;
	min-width: 1000px;
	text-align:center;
}

#logo
{
	vertical-align:middle;
	text-align:left;

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transition-delay:0.0s;
}

#logo:hover
{
	-moz-transform: scale(1.1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-webkit-transform: scale(1.1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-o-transform: scale(1.1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	-ms-transform: scale(1.1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
	transform: scale(1.1) rotate(-4deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); 

	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	transition-delay:0.0s;
}

#tag
{ 
	padding-left:10%;
	color:white;
	
}



.fixed_width
{
	width:90%;
	position:relative;

	
	
}

.input_fields
{
	margin:1% 0% 4% 0%;
	width:300px;
	font-size:120%;
	color:#000;
	border:none;
	padding:4px;
/*	border:2px solid #a52a2a;
	border-radius: 5px 5px 5px 5px;
	box-shadow:#003;
	 
 */
}

#remember
{
	display:inline-block;	
	float:left;
	color:#fff;

}

#submit_button
{
	background-color:#a52a2a;
	display:inline-block;
	border-style:none;
	padding:2% 3% 2% 3%;
	border-radius:5%;
	cursor:pointer;
	color:white;
	
}

#remember_me_login
{
	text-align:left;
	margin:1% 0% 1.5% 0%;
	font-size:110%;
	border-radius: 5px 5px 5px 5px;
/*background-color:#DEDADC;
*/
	box-shadow:#003;
	border:none;
	padding:4px;	
}

hr
{
	color:#a52a2a;
		
}

input:focus, input:active
{
	/*box-shadow: 0px 0px 20px 3px #fff; 
	 */
	border-color: white;

}

a:visited{text-decoration:none; color:black;}

a:focus, a:active, a:hover{text-decoration:underline;}

a{
	line-height:1.2em;
	color:black;
	text-decoration:none;
}

#background_section
{
	text-align:center;
	min-height: 500px;
}

#slide_login_section
{
	margin-bottom:60px;
	background-size:cover;
	position:relative;
	text-align:center;
	width:auto;
	
}

#wrapper_quotes_login
{
	height:20%;
	padding:2%;
	position:relative;
	clear:both;
	display:block;
}

#quotes_section
{
	font-family:Helvetica, sans-serif;
	text-align:center;
	position:relative;
	padding-top: 3%;
	color:#000;
	margin-bottom: 50px;
	
}

.quotes {
	display: none;
	font-size:130%;
}

#video_slide
{
	display:inline-block;
	margin-right:75px;
	margin-top: 85px;
	text-align: left;
	vertical-align: top;
	color: black;
}

#login_section
{
	display:inline-block;
	width:326px;
	margin-top:7%;
	margin-left:75px;
}

#information_section
{
	margin-bottom:30px;
}

.information_tables
{
	display:inline-block;
	width:250px;
	text-align: left;
	border: 3px solid #a52a2a;
	vertical-align:top;
	line-height:1.4em;	
	margin:30px 20px 30px 20px;
	font-size: 150%;
	font-weight: bold;
	vertical-align:top;
	border-radius:20px;
	padding:5px 10px;
		
}

#list
{
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:30px;
	font-size: 140%;
	list-style-type: none;
	background: url(../images/bullet2.png) no-repeat top left;
	background-size: 25px;
	
}

#mylist img
{
	display: none;	
	position: absolute;
	top: 150px;
	left: 400px;
}

#mylist li:hover img
{
	display: block;
}

#steps
{
	margin-left: 50px;
}

#facebook
{
	display:inline-block;
}

footer
{

}