/* General Stuff */
p, li, label, div.form_error {font-size: 16px;color: #999;line-height: 1.5em;}
a {color: #0066cc;text-decoration: none;}
a:hover {color: #003366;}

/* Welcome Page */
div#Wrap {padding-top: 120px;width: 700px;margin: auto;}
div#Profile {float: left;width: 480px;}
div#Externals {float: left;margin-left: 10px;}
div#Externals ul li {padding: 0px;margin: 0px;list-style: none;line-height: 2em;}
div#Externals ul li a {padding-left: 28px;}
div.page {float: left;clear: both;width: 720px; max-height:470px; padding-right:5px;}
ul#Navigation, ul#PastieNavigation {float: left;clear: both;width: 700px;margin-left: 0px;padding-left: 0px;padding-bottom: 50px;}
ul#Navigation li {list-style-type: none;display: inline;float: left;}
ul#Navigation li:after {padding-left: 15px;content: ">";margin-right: 15px;}
#page2,#page3,#page4{overflow-y:scroll;}
div#PageEmail{ max-height:10000px; }
#page4 b a, #page4 b a:hover, #page4 b a:visited, #page4 b a:active {color:#999;}

/* Icons */
.twitter {background: transparent url(http://sucs.org/~jonhurlock/assets/img/twitter-icon16x16.png) left center no-repeat;}
.facebook {background: transparent url(http://sucs.org/~jonhurlock/assets/img/facebook-icon16x16.gif) left center no-repeat;}
.lastfm {background: transparent url(http://sucs.org/~jonhurlock/assets/img/lastfm-icon16x16.png) left center no-repeat;}
.flickr {background: transparent url(http://sucs.org/~jonhurlock/assets/img/flickr-icon16x16.png) left center no-repeat;}
.vimeo {background: transparent url(http://sucs.org/~jonhurlock/assets/img/vimeo-icon16x16.png) left center no-repeat;}
.linkedin {background: transparent url(http://sucs.org/~jonhurlock/assets/img/linkedin-icon16x16.png) left center no-repeat;}
.dopplr {background: transparent url(http://sucs.org/~jonhurlock/assets/img/dopplr-icon16x16.png) left center no-repeat;}
.foursquare {background: transparent url(http://sucs.org/~jonhurlock/assets/img/foursquare-icon16x16.png) left center no-repeat;}
.mendeley {background: transparent url(http://sucs.org/~jonhurlock/assets/img/mendeley-icon16x16.png) left center no-repeat;}
.spotify {background: transparent url(http://sucs.org/~jonhurlock/assets/img/spotify-icon16x16.png) left center no-repeat;}

/* Email Page */
div.form_error {color: #a80000;}
input, textarea {font-size: 16px;line-height: 1.5em;}

/* Portfolio Page */
#shortPortfolio{float:left; clear:both; width:100%; margin-top:-20px;}
.portfolioItem{ float:left; margin:10px; margin-top:0px; width:210px;}
.portfolioItem h3{ margin-bottom:5px;}
.portfolioItem p{ font-size:10px; padding:5px; padding-top:0px; padding-bottom:0px;}	
.portfolioItem img{ border:1px solid #ddd; padding:5px; background:#f8f8f8; width:200px; height:125px; box-shadow: 2px 2px 5px #ccc; -webkit-box-shadow: 2px 2px 5px #ccc; -moz-box-shadow: 2px 2px 5px #ccc; -o-box-shadow: 2px 2px 5px #ccc; -icab-box-shadow: 2px 2px 5px #ccc; -khtml-box-shadow: 2px 2px 5px #ccc;}

/*Pastie*/
div.Pastie h1#Me{background:transparent url(http://jobs.inbahrain.info/assets/icons/paste_plain.png) 1px 2px no-repeat;padding-left: 22px;border-bottom: 1px solid #000; padding-bottom: 5px; margin-bottom: 10px;}
/* Front Page */
.codewrap {float: left;width: 700px;clear: both;border-bottom: 1px dotted #777;margin-bottom: 2px; min-height: 25px;}
.codesnippet {float: left;width: 605px;max-height: 100px;overflow-x: hidden;}
.codelink {float: left;width: 55px;margin-right: 25px;}
.showpastie{font-size: 16px;color: #999;background: transparent url(http://jobs.inbahrain.info/assets/icons/script_go.png) left center no-repeat;padding-left: 20px;}
#code {max-height: 560px;overflow-x: hidden;}

/* Navigation */
ul#PastieNavigation{border-top: 1px solid #000; padding-top: 5px; margin-top: 10px;}
ul#PastieNavigation li {list-style-type: none;display: inline;float: left;margin-right: 25px;}
ul#PastieNavigation li:after {padding-left: 15px;margin-right: 15px;}
a[href$="paste/"] {background: transparent url(http://jobs.inbahrain.info/assets/icons/house.png) left center no-repeat;padding-left: 20px;}
a[href$="paste/create_clip"] {background: transparent url(http://jobs.inbahrain.info/assets/icons/script_add.png) left center no-repeat;padding-left: 20px;}
a[href$="/download"] {background: transparent url(http://jobs.inbahrain.info/assets/icons/script_save.png) left center no-repeat;padding-left: 20px;}
